.payment-header{
    text-align:center
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.error-text{
    color:red;
    background-color: antiquewhite;
}

.card{
    z-index:1;
}